<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Oura</span>
        </a>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2">Settings</span>
                </a><!-- End Profile Iamge Icon -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->



<main id="main" class="main">

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Temperature <span>| &deg;C</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fas fa-thermometer-half"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>24.5</h6>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->


                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">


                            <div class="card-body">
                                <h5 class="card-title">Humidity <span>| %</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fas fa-tint"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>53.11</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-md-6">

                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Pressure <span>| hPa</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fas fa-angle-double-down"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1019.74 </h6>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-md-6">

                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Gas <span>| Kohm</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fas fa-wind"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>6.81</h6>
                                        <span class="text-danger small pt-1 fw-bold">Poor</span> <span
                                            class="text-muted small pt-2 ps-1">Levels</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                      <!-- Revenue Card -->
                      <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">


                            <div class="card-body">
                                <h5 class="card-title">Pollution <span>| PPM</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fas fa-smog"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>302.05</h6>
                                        <span class="text-success small pt-1 fw-bold">Healthy</span> <span
                                            class="text-muted small pt-2 ps-1">Levels</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [xaxis]="chartOptions.xaxis"
                  [stroke]="chartOptions.stroke"
                  [tooltip]="chartOptions.tooltip"
                  [dataLabels]="chartOptions.dataLabels"
                ></apx-chart>
              </div> -->

              <div class="container sample">
                <div class="options vertical">
                    <span id="legendTitle">Air Quality over Time</span>
                    <igx-legend #legend orientation="horizontal"></igx-legend>
                </div>
                <div class="container">
                    <igx-category-chart height="500px" width="80vw"
                        [dataSource]="data"
                        [legend]="legend"
                        chartType="line"
                        outlines = "#ee5879"
                        brushes="#ee5879"
                        markerBrushes =  "white"
                        markerOutlines="#ee5879"
                        markerTypes="Circle"
                        yAxisTitle="PPM"
                        yAxisTitleLeftMargin="5">
                    </igx-category-chart>
                </div>
            </div>
            
                
                </div>
            </div><!-- End Left side columns -->


        </div>
    </section>

</main><!-- End #main -->