
<div
  class="bg-image"
>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top container">
    <a class="navbar-brand mr-3" href="index.php">Oura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="docs.php">Docs</a>
        <a class="nav-link" href="about.php">About</a>
        <a class="nav-link" href="buy.php">Buy</a>
      </div>
      <div class="navbar-nav ms-auto">
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter"> 
          Sign Up / Log In
        </button>
      </div>
    </div>
  </nav>

<div class="home container-fluid">
    <div class="h-100 container-fluid">
        <div class="row align-items-center h-100">
            <div class="mx-auto text-center">
                <img src="../../../assets/img/logo_white.png" class="logo-home mb-4">
                <h1 class="title-home">Oura</h1>
                <span class="d-inline-block text-wrap" style="max-width: 400px;">
                    Oura is a tailorable, portable, and inexpensive indoor air quality (IAQ) monitoring device with customizable features for the immunocompromised and those living in vulnerable areas. Oura also includes a complimentary app that utilizes machine learning to tailor the detector to its user based on health conditions and sends air quality notifications to any of the user's caregivers.
                </span>
            </div>
        </div>
    </div>
</div>


</div>