
<div
  class="bg-image"
>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top container">
    <a class="navbar-brand mr-3" href="index.php">Oura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="https://angelina-tsuboi.github.io/IAQ_Device_Dev_Log" target="_blank">Prototyping</a>
        <a class="nav-link" href="https://github.com/oura-breathe" target="_blank">Source Code</a>
        <a class="nav-link" href="mailto:atsuboi2024@chadwickschool.org" target="_blank">Contact</a>
      </div>
      <div class="navbar-nav ms-auto">
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" (click)="toggleForm()"> 
          Register an Account
        </button>
      </div>
    </div>
  </nav>

<div class="home container-fluid">
    <div class="h-100 container-fluid">
        <div class="row align-items-center h-100">
            <div class="mx-auto text-center">
                <img src="../../../assets/img/logo_white.png" class="logo mb-4">
                <h1 class="title">Oura</h1>
                <span class="d-inline-block text-wrap" style="max-width: 400px;" *ngIf="!isShowingForm">
                    Oura is a tailorable, portable, and inexpensive indoor air quality (IAQ) monitoring device with customizable features for the immunocompromised and those living in vulnerable areas. Oura also includes a complimentary app that utilizes machine learning to tailor the detector to its user based on health conditions and sends air quality notifications to any of the user's caregivers.
                </span>
                <div *ngIf="isShowingForm && isRegister" class="d-inline-block" style="max-width: 600px;">
                  <div class="mb-5" class="formSection">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" required class="form-control" id="exampleFormControlInput1" placeholder="Enter email address" [(ngInput)]="regsiterEmail">
                    <p class="feedback" *ngIf="registerErrorEmail">
                      Please enter a valid email address
                    </p>
                  </div>
                  <div class="mb-5" class="formSection">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" required class="form-control" id="exampleFormControlInput1" placeholder="Enter password" [(ngInput)]="registerPassword">
                    <p class="feedback"  *ngIf="registerErrorPassword">
                      Password must be between 8 to 15 characters
                    </p>
                  </div>

                  <button type="button" class="btn btn-outline-light" style="margin-top: 1rem;" (click)="register()">Register Account</button>
                  <p class="h6">Already have an account? <a href="#" (click)="toggleRegister()">Login</a> </p>
                </div>

                <div *ngIf="isShowingForm && !isRegister" class="d-inline-block" style="max-width: 600px;">
                  <div class="mb-5" class="formSection">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" required class="form-control" id="exampleFormControlInput1" placeholder="Enter email address" [(ngInput)]="loginEmail">
                    <p class="feedback"  *ngIf="loginErrorEmail">
                      Please enter a valid email address
                    </p>
                  </div>
                  <div class="mb-5" class="formSection">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" required class="form-control" id="exampleFormControlInput1" placeholder="Enter password" [(ngInput)]="loginPassword">
                    <p class="feedback"  *ngIf="loginErrorPassword">
                      Password must be between 8 to 15 characters
                    </p>
                  </div>

                  <button type="button" class="btn btn-outline-light" style="margin-top: 1rem;" (click)="login()">Login to Account</button>
                  <p class="h6">Don't have an account? <a href="#" (click)="toggleRegister()">Register</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>


</div>